.popup {
    position: fixed;
    width: 80%;
    height: 80%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    /*background-color: rgba(0,0,0, 0.5);*/
    /*background-color: rgb(173, 175, 177);*/
    /*background-color: #adafb1;*/
    background-color: rgba(23, 32, 98, 0.98);
    /*background-color: rgba(127, 161, 232, 0.95);

   */
    border-radius: 2%;
    overflow: auto;
}
.popup\_inner {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    border-radius: 20px;
    background: white;
}

.buttonReadMore {
    border-width: 0px;
    text-align: left;
    color: #7fa1e8;
    text-decoration: none;
    outline: none ;
    background-color: white;
}

.buttonReadMore:focus {
    outline: none;
    box-shadow: none;
    background-color: #ffffff;
}

.titleHeader {
    float: right;
    padding: 5px;
    color: white;
}

.titleIcon {
    float: right;
    padding: 5px;

}

.buttonIcon {
    background-color: #7fa1e8;
    border-color: white;
    border-radius: 75%;
    color: white;
}
/********************************************/
/*Beginning of Basic Info Pop-Up Style Sheet*/
/********************************************/
.content .basicInfo h1 {
    padding: 5px;
}

.content .basicInfo h1 p b {
    color: black;
}

.content .basicInfo p {
    font-size: larger;
    color: white;
    padding-top: 2px;
}

.content .basicInfo a {
    text-decoration: none;
    color: white;
    font-size: larger;
}
.content .basicInfo h3 {
    float: left;
    padding-right: 2%;
    padding-left: 1%;
}

.content .basicInfo .popUpTitle {
    color: #7fa1e8;
}

.content .basicInfo .popUpSubTitle {
    color: #7fa1e8;
}

/********************************************/
/*Beginning of Skills Pop-Up Style Sheet*/
/********************************************/

.column {
    float: left;
    width: 33.33%;
    padding: 1%;
    overflow: auto;
}

.content .skills .popUpSubTitle {
    color: #7fa1e8;

}

.content .skills .popUpTitle {
    color: #7fa1e8;
    padding: 5px;
}

.content .skills .column .skillAttribute {
    font-size: larger;
    color: white;
    width: 50%;
    float: left;
}

.content .skills .starRating {
    border-width: 1px;
    border-style: solid;
    border-color: rgba(23, 32, 98, 0);
}
.spaceNeeded{
    display: none;
}

.spaceNeeded2 {
    display: none;
}

.spaceNeeded3{
    display: none;
}

.spaceNeeded4{
    display: none;
}

.skillsSmallScreen{
    display: none;
}

@media (max-width: 810px)
{
    .spaceNeeded{
        display: inline;
    }
}
@media (max-width: 1140px){
    .spaceNeeded2{
        display: inline;
    }
}

@media (max-width: 947px) {
    .spaceNeeded3{
        display: inline;
    }
}

@media (max-width: 952px){
    .spaceNeeded4{
        display: inline;
    }
}

@media (max-width: 712px)
{
    .column{
        display: none;
    }
    .skillsSmallScreen{
        display: inline;
    }
    .skillsSmallScreen p {
        font-size: larger;
        color: white;
        padding-top: 2px;
        float: left;
    }
    .skillsSmallScreen h3 {
        float: left;
        padding-right: 2%;
        padding-left: 1%;
    }
    .skillsSmallScreen .popUpSubTitle{
        color: #7fa1e8;
    }

    .skillsSmallScreen i {
        text-align: center;
        color: red;
    }

}

/********************************************/
/*Beginning of Interests Pop-Up Style Sheet*/
/********************************************/
.content .interests h1 {
    padding: 5px;
    color: #7fa1e8;
}

.content .interests ul {
    font-size: larger;
    color: white;
    list-style-type: circle;
}


.content .interests h3 {
    padding-left: 1%;
    padding-bottom: 0px;
    color: #7fa1e8;
}




